
@import "./css/menu.css";

@font-face { 
    font-family: "Montserrat"; 
    src: url("./fonts/Montserrat-Regular.ttf"); 
}


@keyframes navIn {
    0% {
        background: transparent;
    }

    100% {
        background: rgba(153, 0, 0 , 1);
    }
}

@keyframes navOut {
    0% {
        background: rgba(153, 0, 0 , 1);
        z-index: 999;
    }

    100% {
        background: transparent;
        z-index: 0;
    }
}


html, body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", Helvetica;
    color: #ffffff;
    margin: auto 0;
}

div {
    font-size: 1.25rem;
}

*,
:before,
:after {
  box-sizing: border-box;
}

.nav {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: navOut 0.5s forwards;
}

.nav.active {
    background: rgba(153, 0, 0 , 1);    display: flex;
    animation: navIn 0.8s forwards;
    z-index: 999;
}

.nav .list {
    display: none;
    list-style: none;
}

.nav .list li {
    margin: 1rem;
}

.nav.active .list {
    display: block;
}

.backgrounds {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background.muc {
    background:  url(./images/muc.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.background.muc:after {
    /*! background-color: rgba(0, 0, 0, 0.4); */
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 99;
    flex-wrap: wrap;
}

.wrapper.active {
    overflow: hidden;
}


.header {
    flex: 1;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.45);
}

.header-label {
    position: fixed;
}


.main {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
}

.top {
    justify-content: flex-end;
}

.boxes {
    width: 100%;
    height: 66%;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
}

.box {
    width: 100%;
    height: 35%;
    display: flex;
    border: 1px solid rgba(0,0,0,0.00000001);
    align-items: flex-end;
    justify-content: l;
    transition: background-color 0.5s ease;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.4);
}

.box:hover {
    cursor: pointer;
    background: radial-gradient(transparent, rgba(0,0,0,0.45));
}

.box.box1, .box.box2,
.box.box3, .box.box4 {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}


.box .box-label {
    padding: 1.5rem;
    transform-origin: bottom left;
    transition: transform .2s ease-in;
}

.box:hover .box-label {
    transform-origin: bottom left;
    transform: scale3d(1.1,1.1, 1.1);
}

.menu {
    display: none;
}

.nav-trigger {
    top: 1.25rem;
    right: 1rem;
}


@media screen and (min-width: 480px) {
    
    .header {
        padding: 2.5rem 1rem 1rem 1rem;
    }
    
    .header-label {
        position: none;
    }

    .box {
        width: 50%;
        height: 50%;
    }

    .box.box1, .box.box2,
    .box.box3, .box.box4 {
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }

    .box.box1, .box.box3 {
        border-right: 1px solid rgba(255, 255, 255, 0.6);
    }

    .nav-trigger {
        top: 2.75rem;
    }
}

@media screen and (min-width: 1024px) {

    .header {
        padding: 5.25rem 1rem 1rem 5rem;        
    }

    .main {
        flex-direction: row;
    }

    .boxes {
        width: 100%;
        height: 100%;
    }

    .box.box1, .box.box2,
    .box.box3, .box.box4 {
        border: none;        
        border-right: 1px solid rgba(255, 255, 255, 0.6);            
    }

    .box.box1, .box.box3  {
        border-left: 1px solid rgba(255, 255, 255, 0.6);
    }
    
    .box.box3, .box.box4 {
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }

    .menu {
        display: flex;
        padding: 5rem 1rem 1rem 1rem;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .menu-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
    }
    
    .menu-label {
        margin-right: 1rem;
    }

    .nav-trigger {
        top: 5.5rem;
    }
}

